h1{color: #023E8A;}
body{
    background-color: #a2dfeb;
}
p{height: 100px;
    width: 50%;
    color: #FF8600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 160%;
    text-align: center;
    }
    